<nav class="navbar navbar-static-bottom navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler hidden-md-up"
                type="button"
                data-toggle="collapse"
                data-target="#footerResponsive"
                aria-controls="footerResponsive"
                aria-expanded="false"
                aria-label="Toggle footer"></button>
        <div class="collapse navbar-toggleable-sm" id="footerResponsive">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="mailto:{{site.email}}">
                        <i class="fa fa-envelope-o"></i> {{site.email}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/{{site.github_username}}" target="_blank">
                        <i class="fa fa-github"></i> My GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank">
                        <i class="fa fa-linkedin"></i> My LinkedIn
                    </a>
                </li>
            </ul>
            <span class="navbar-text float-md-right text-muted">
                <i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }} {{site.title}}
            </span>
        </div>
    </div>
</nav>