<nav class="navbar navbar-static-top navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
            <a class="navbar-brand mb-0" href="/">{{site.title}}</a>
            <ul class="nav navbar-nav">
                {% for my_page in site.pages %}
                {% if my_page.title %}
                {% if page.url == my_page.url %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav nav-inline float-sm-right">
                <li class="nav-item nav-item-inline">
                    <a class="nav-link" href="mailto:{{site.email}}">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <li class="nav-item nav-item-inline">
                    <a class="nav-link" href="https://github.com/{{site.github_username}}" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li class="nav-item nav-item-inline">
                    <a class="nav-link" href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
