---
layout: default
---

{% include backlink.html %}
<div>
    <h1>{{ page.title }}</h1>
    <div class="text-sm mt-0.5">{{ page.created_date | date_to_long_string: "ordinal", "US"}} {% include reading-time.html %}</div>
    {% capture toc_content %} {% include toc.html html=content %} {% endcapture %}
    {% assign toc_stripped = toc_content | strip %}
    {% if toc_stripped != "" %}
    <div class="rounded-md border-2 dark:border-zinc-600 mt-5 py-4 pl-3 pr-6 w-fit">
        <div>Table of Contents</div>
        {{ toc_content }}
    </div>
    {% endif %}
</div>
<article class="mb-10">
{{ content }}
</article>
<!--<script id="utterances"-->
<!--        src="https://utteranc.es/client.js"-->
<!--        repo="jacob-swanson/personal-site"-->
<!--        issue-term="pathname"-->
<!--        theme="github-dark"-->
<!--        crossorigin="anonymous"-->
<!--        async>-->
<!--</script>-->
<script src="https://giscus.app/client.js"
        data-repo="jacob-swanson/personal-site"
        data-repo-id="MDEwOlJlcG9zaXRvcnk0ODMzMTY4NQ=="
        data-category="Announcements"
        data-category-id="DIC_kwDOAuF7pc4CZfHz"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>