---
import Layout from "../layouts/Layout.astro";
interface Props {
    error: unknown
}

const {error} = Astro.props
---

<Layout>
    <h1>Internal server error</h1>
    <div>{error instanceof Error ? error.message : '😭'}</div>
</Layout>